h1{
    color: rgb(29, 28, 30);
    text-align: center;
    text-decoration: underline;
}
.container {
    width: 750px;
    margin: 0px auto;
    background-color: rgb(41, 36, 36);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.box1,.box2,.box3{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-color: aliceblue;
}

.box1 {
    background-color: rgb(111, 233, 233);
}

.box2 {
    background-color: rgb(135, 146, 240);
}

.box3 {
    background-color: rgb(94, 157, 221);
}

.box1 img, .box2 img, .box3 img {
    width: 200px;
    height: 200px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}




